{
  "mailer": {
  	"admin_gui": "{{ sensu_admin_gui }}",
    "mail_from": "{{ sensu_mail_from }}",
    "mail_to": "{{ sensu_mail_to }}",
    "smtp_address": "{{ sensu_smtp_address }}",
    "smtp_port": "{{ sensu_smtp_port }}",
    "smtp_domain": "{{ sensu_smtp_domain }}"
  }
}

